@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

html,
* {
	box-sizing: border-box;
	font-family: Montserrat;
}

html {
	height: 100%;
}

body {
	height: 100%;
	background-color: rgba(40, 133, 109, 0.842);
}

h1 {
	font-size: 40px;
	font-weight: normal;
	text-align: center;
	color: white;
	margin-top: 35px;
	margin-bottom: 0;
}

nav {
	position: static;
	top: 0;
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	padding: 25px;
	/* background-color: #192e58; */
}

.navLink {
	color: white;
	text-decoration: none;
	font-size: 20px;
	width: 70px;
	text-align: center;
}

.navLink:hover {
	font-weight: bold;
	cursor: pointer;
}

.input,
.label {
	display: block;
	margin: 5px auto;
}

.label {
	text-align: center;
	margin-top: 20px;
}

.input {
	width: 300px;
	padding: 10px;
}

.input:focus {
}

.submit {
	display: block;
	margin: 20px auto;
	padding: 10px 15px;
	border-radius: 5px;
	border: none;
	font-size: 15px;
	background-color: white;
}

.submit:hover {
	cursor: pointer;
	background-color: rgb(100, 100, 100);
	color: white;
}

.authForm {
	position: static;
	top: 0;
	width: 75%;

	display: grid;
	justify-content: space-evenly;
	padding: 40px;
	background-color: rgba(157, 192, 185, 0.363);
	color: rgb(255, 255, 255);
	margin: 15px auto;
	box-shadow: 5px 5px 3px rgba(27, 26, 26, 0.322);
}

.show_less-button,
.show_more-button {
	position: static;
	width: 8%;
	justify-content: space-evenly;
	padding: 5px;
	margin: 80%;
	margin-top: 50px;
	margin-bottom: -50px;
	background-color: #757977cc;
	color: white;
	display: grid;
	box-shadow: 5px 5px 3px rgba(66, 64, 64, 0.322);
}
.show_less-button,
.show_more-button:hover {
	cursor: pointer;
	background-color: rgba(14, 13, 13, 0.911);
	color: rgb(255, 255, 255);
	display: grid;
}

.habit-class {
	position: static;
	top: 0;
	width: 50%;
	margin: 5%;
	display: block;
	font-size: 22px;
	justify-content: space-evenly;
	padding: 25px;
	background-color: rgba(237, 245, 244, 0.808);
	color: rgba(53, 50, 50, 0.767);

	margin-bottom: 50px;
	box-shadow: -8px -5px 3px rgba(56, 52, 52, 0.322);
}

.goal-button {
	position: static;
	top: 0;
	width: 50%;
	margin: 15%;
	margin-top: -45px;
	display: block;
	font-size: 16px;
	justify-content: space-evenly;
	padding: 25px;
	background-color: rgba(190, 204, 195, 0.548);
	color: rgba(58, 58, 58, 0.87);

	margin-bottom: 50px;
	box-shadow: -8px -5px 3px rgba(56, 52, 52, 0.322);
}

.streak-button {
	position: static;
	top: 0;
	width: 50%;
	margin: 25%;
	margin-top: -45px;
	display: block;
	font-size: 16px;

	justify-content: space-evenly;
	padding: 25px;
	background-color: rgba(147, 175, 166, 0.74);
	color: rgba(58, 58, 58, 0.87);

	margin-bottom: 50px;
	box-shadow: -8px -5px 3px rgba(56, 52, 52, 0.322);
}

.habit-details {
	margin: 35%;
	margin-top: 50px;
	margin-bottom: -20px;
	justify-content: space-evenly;
	width: 25%;
	display: grid;
	padding: 20px;
	background-color: rgba(209, 223, 220, 0.61);
	color: rgba(58, 58, 58, 0.87);
	box-shadow: 0px 0px 10px rgba(66, 64, 64, 0.322);
<<<<<<< HEAD

=======
>>>>>>> d17dbd00ca4418f3228773e3ab363bd05631ab86
}
