@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

html,
* {
	box-sizing: border-box;
	font-family: Montserrat;
}

html {
	height: 100%;
}

body {
	height: 100%;
	background-color: rgba(40, 133, 109, 0.842);
	padding-bottom: 50px;
}

#feed {
	padding-bottom: 50px;
}

h1 {
	font-size: 40px;
	font-weight: normal;
	text-align: center;
	color: white;
	margin-top: 35px;
	margin-bottom: 0;
}

nav {
	position: static;
	top: 0;
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	padding: 25px;
	/* background-color: #192e58; */
}

.navLink {
	color: white;
	text-decoration: none;
	font-size: 20px;
	width: 70px;
	text-align: center;
}

.navLink:hover {
	font-weight: bold;
	cursor: pointer;
}

.input,
.label {
	display: block;
	margin: 5px auto;
}

.label {
	text-align: center;
	margin-top: 20px;
}

.input {
	width: 300px;
	padding: 10px;
}

.submit {
	display: block;
	margin: 20px auto;
	padding: 10px 15px;
	border-radius: 5px;
	border: none;
	font-size: 15px;
	background-color: white;
}

.submit:hover {
	cursor: pointer;
	background-color: rgb(100, 100, 100);
	color: white;
}

.authForm {
	position: static;
	top: 0;
	width: 75%;

	display: grid;
	justify-content: space-evenly;
	padding: 40px;
	background-color: rgba(157, 192, 185, 0.363);
	color: rgb(255, 255, 255);
	margin: 15px auto;
	box-shadow: 5px 5px 3px rgba(27, 26, 26, 0.322);
}

.habit-class {
	position: static;
	top: 0;
	width: 50%;
	margin: 5% 5% 0% 5%;
	display: block;
	font-size: 22px;
	justify-content: space-evenly;
	padding: 25px;
	background-color: rgba(237, 245, 244, 0.808);
	color: rgba(53, 50, 50, 0.767);

	box-shadow: -8px -5px 3px rgba(56, 52, 52, 0.322);
}

.goal-button {
	position: static;
	top: 0;
	width: 50%;
	margin: 10px 10% 0 10%;
	display: block;
	font-size: 16px;
	justify-content: space-evenly;
	padding: 25px;
	background-color: rgba(190, 204, 195, 0.548);
	color: rgba(58, 58, 58, 0.87);

	box-shadow: -8px -5px 3px rgba(56, 52, 52, 0.322);
}

.streak-button {
	position: static;
	top: 0;
	width: 50%;
	margin: 10px 10% 0 15%;
	display: block;
	font-size: 16px;

	justify-content: space-evenly;
	padding: 25px;
	background-color: rgba(147, 175, 166, 0.74);
	color: rgba(58, 58, 58, 0.87);

	box-shadow: -8px -5px 3px rgba(56, 52, 52, 0.322);
}

.habit-details {
	margin: 10px 10% 0 20%;
	justify-content: space-evenly;
	width: 50%;
	display: block;
	padding: 20px;
	background-color: rgba(209, 223, 220, 0.61);
	color: rgba(58, 58, 58, 0.87);
	box-shadow: -8px -5px 3px rgba(56, 52, 52, 0.322);
}

.habit-info-buttons {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.delete-habit,
.habit-history {
	margin: 25px;
}

.more {
	margin: 25px auto 25px auto;
}

.less {
	margin: 0 auto 25px auto;
}

.delete-habit,
.habit-history,
.show-button {
	display: block;
	width: 160px;
	padding: 10px 15px;
	border-radius: 5px;
	border: none;
}

.delete-habit:hover,
.habit-history:hover,
.show-button:hover {
	cursor: pointer;
	background-color: rgb(100, 100, 100);
	color: white;
}

.addlitre {
	position: static;
	top: 0;
	width: 50%;
	margin: 10px 10% 0 25%;
	display: block;
	font-size: 20px;
	justify-content: space-evenly;
	padding: 10px;
	background-color: rgba(237, 245, 244, 0.808);
	color: rgba(53, 50, 50, 0.767);
	box-shadow: -8px -5px 3px rgba(56, 52, 52, 0.322);
}

.addLitre input[type="submit"] {
	background-color: red;
}

.habit-amount {
	margin: 10px 5px 10px 30px;
	padding: 5px;
	width: 40%;
}

.add-units-label {
	color: rgba(53, 50, 50, 0.767);
	font-size: 16px;
	margin: 10px 5px 10px 20px;
}

.log-data {
	margin: 5px 5px 5px 30px;
	font-size: 14px;
	width: 22%;
	padding: 10px 15px;
	cursor: pointer;
	color: black;
	border: none;
	border-radius: 5px;
}
.log-data:hover {
	cursor: pointer;
	background-color: rgb(100, 100, 100);
	color: white;
	border-radius: 5px;
	border: none;
}

#error-message {
	color: rgb(168, 31, 31);
}

.no-history {
	margin: 2px 0% 2px 0%;
	width: 100%;
	text-align: center;
}

.history-div {
	margin: 10px 10% 0 25%;
	justify-content: space-evenly;
	width: 50%;
	display: block;
	padding: 20px;
	background-color: rgba(209, 223, 220, 0.61);
	color: rgba(58, 58, 58, 0.87);
	box-shadow: -8px -5px 3px rgba(56, 52, 52, 0.322);
}

.history-item {
	display: flex;
	flex-direction: row;
}

.history-date {
	font-weight: bold;
	margin-right: 15px;
}
